section {
	width: fit-content;
}
#plantes-table {
	margin: 0;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
}
.table-header {
	background-color: #1d68279c;
	font-weight: 900;
	font-size: 2rem;
	border: 3px solid black;
	display: flex;
	justify-content: center;
	align-items: center;
}
.table-entry {
	border: 1px solid black;
	display: flex;
	justify-content: center;
	height: 50px;
	align-items: center;
}
#planteForm {
	display: grid;
	width: 100%;
	grid-template-rows: repeat(4, 1fr);
	grid-template-columns: 1fr 1fr;
}
#planteForm input {
	border-collapse: separate;
	padding: 5px;
	border: solid black 1px;
	margin: 5px;
}
#planteSubmit {
	grid-column: span 2;
}
.alert {
	z-index: 10;
	height: 50%;
	width: 50%;
}
