html {
	box-sizing: border-box;
	font-family: "Open Sans", sans-serif;
	font-size: 125%;
	padding: 0;
	margin: 0;
}
*,
*:before,
*:after {
	box-sizing: inherit;
	font-family: inherit;
	font-size: inherit;
	padding: inherit;
	margin: inherit;
}

nav {
	position: fixed;
	top: 0;
	display: flex;
	width: 100%;
	background-color: #464646;
	padding: 7px;
	z-index: 5;
}

nav a {
	color: #ffffff;
	font-style: normal;
}

main {
	background-color: #1fbd1f54;
	margin-top: 51px;
}
